Quick note book to remove columns from complete measures and add in score

In [2]:
import pandas as pd

In [22]:
comp_measures = pd.read_csv("../data/processed/complete_measures.csv")
raw_data = pd.read_csv("../data/processed/historical_scores.csv")
scores = raw_data["FTR"]
comp_measures["scores"] = scores
comp_measures = comp_measures.drop(["Unnamed: 0", "Unnamed: 0.1"], axis=1)
comp_measures.head()

,AwayTeam,Date,HomeTeam,League,Season,away_team_goals_conceded_last_10,away_team_goals_conceded_last_15,away_team_goals_conceded_last_5,away_team_goals_conceded_last_game,away_team_goals_conceded_venue_last_10,...,hth_home_goals_scored_last_15,hth_home_goals_scored_last_5,hth_home_lose_percent_last_10,hth_home_lose_percent_last_15,hth_home_lose_percent_last_5,hth_home_win_percent_last_10,hth_home_win_percent_last_15,hth_home_win_percent_last_5,index,scores
0,West Brom,1993-08-14,Barnsley,2,9394,NaN,NaN,13,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,D
1,Birmingham,1993-08-14,Charlton,2,9394,NaN,NaN,9,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,H
2,Tranmere,1993-08-14,Crystal Palace,2,9394,NaN,NaN,3,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,D
3,Sunderland,1993-08-14,Derby,2,9394,NaN,NaN,NaN,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,H
4,Bolton,1993-08-14,Grimsby,2,9394,NaN,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,D

In [25]:
comp_measures.set_index("index").to_csv("../data/processed/complete_measures.csv")

In [26]:
pd.read_csv("../data/processed/complete_measures.csv").head()

,index,AwayTeam,Date,HomeTeam,League,Season,away_team_goals_conceded_last_10,away_team_goals_conceded_last_15,away_team_goals_conceded_last_5,away_team_goals_conceded_last_game,...,hth_home_goals_scored_last_10,hth_home_goals_scored_last_15,hth_home_goals_scored_last_5,hth_home_lose_percent_last_10,hth_home_lose_percent_last_15,hth_home_lose_percent_last_5,hth_home_win_percent_last_10,hth_home_win_percent_last_15,hth_home_win_percent_last_5,scores
0,0,West Brom,1993-08-14,Barnsley,2,9394,NaN,NaN,13,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D
1,1,Birmingham,1993-08-14,Charlton,2,9394,NaN,NaN,9,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H
2,2,Tranmere,1993-08-14,Crystal Palace,2,9394,NaN,NaN,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D
3,3,Sunderland,1993-08-14,Derby,2,9394,NaN,NaN,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H
4,4,Bolton,1993-08-14,Grimsby,2,9394,NaN,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D