In [2]:
import os
import numpy as np
import pandas as pd

In [3]:
match_info = ["Season",
              "League",
              "Date",
              "HomeTeam",
              "AwayTeam"]
match_statistics = ["FTHG",
                    "FTAG",
                    "FTR",
                    "HTHG",
                    "HTAG",
                    "HTR",
                    "Attendance",
                    "Referee",
                    "HS",
                    "AS",
                    "HST",
                    "AST",
                    "HHW",
                    "AHW",
                    "HC",
                    "AC",
                    "HF",
                    "AF",
                    "HO",
                    "AO",
                    "HY",
                    "AY",
                    "HR",
                    "AR",
                    "HBP",
                    "ABP"]

In [4]:
def get_measures():
    if os.path.isfile("../data/processed/measures.csv"):
        measures = pd.read_csv("../data/processed/measures.csv")
        measures.Date = pd.to_datetime(measures.Date)
        return measures
    else:
        measures = pd.read_csv("../data/processed/historical_scores.csv", index_col=0)
        measures = measures[match_info]
        measures.Date = pd.to_datetime(measures.Date)
        measures = measures.reset_index()
        measures.to_csv("../data/processed/measures.csv")
        return measures

measures = get_measures()
raw_data = pd.read_csv("../data/processed/historical_scores.csv", index_col=0)
raw_data = raw_data[match_info + match_statistics]
raw_data.Date = pd.to_datetime(raw_data.Date)
raw_data = raw_data.reset_index()

In [7]:
idx = 551
df = raw_data
date, home_team, away_team = df.loc[idx, ["Date", "HomeTeam", "AwayTeam"]]

row_filter = df.Date < date
row_filter = row_filter & ((df.HomeTeam.isin([home_team, away_team])) |
                           df.AwayTeam.isin([home_team, away_team]))

print(date, home_team, away_team)
temp_df = df[row_filter]

1994-08-05 00:00:00 Wolves Leicester

,index,Season,League,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,HF,AF,HO,AO,HY,AY,HR,AR,HBP,ABP
5,5,9394,2,1993-08-14,Leicester,Peterboro,2,1,H,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,9394,2,1993-08-14,Wolves,Bristol City,3,1,H,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,22,9394,2,1993-08-21,Tranmere,Leicester,1,0,H,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,25,9394,2,1993-08-22,Birmingham,Wolves,2,2,D,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,31,9394,2,1993-08-25,Wolves,Millwall,2,0,H,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,37,9394,2,1993-08-28,Leicester,Millwall,4,0,H,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,43,9394,2,1993-08-28,Wolves,Middlesbrough,2,3,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,54,9394,2,1993-05-09,West Brom,Wolves,3,2,H,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,55,9394,2,1993-07-09,Watford,Wolves,1,0,H,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,65,9394,2,1993-11-09,Wolves,Portsmouth,1,1,D,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,67,9394,2,1993-12-09,Leicester,Birmingham,1,1,D,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,68,9394,2,1993-09-14,Bristol City,Leicester,1,3,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,72,9394,2,1993-09-18,Bolton,Leicester,1,2,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,78,9394,2,1993-09-18,Sunderland,Wolves,0,2,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,83,9394,2,1993-09-25,Barnsley,Leicester,0,1,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,85,9394,2,1993-09-25,Grimsby,Wolves,2,0,H,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,96,9394,2,1993-09-29,Middlesbrough,Leicester,2,0,H,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,99,9394,2,1993-02-10,Leicester,Notts County,3,2,H,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,107,9394,2,1993-02-10,Wolves,Charlton,1,1,D,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,123,9394,2,1993-10-16,Charlton,Leicester,2,1,H,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,130,9394,2,1993-10-17,Crystal Palace,Wolves,1,1,D,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,145,9394,2,1993-10-23,Wolves,Stoke,1,1,D,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,146,9394,2,1993-10-24,Leicester,Nott'm Forest,1,0,H,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,152,9394,2,1993-10-30,Luton,Leicester,0,2,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,156,9394,2,1993-10-30,Southend,Wolves,1,1,D,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,164,9394,2,1993-02-11,Grimsby,Leicester,0,0,D,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,168,9394,2,1993-02-11,Wolves,Notts County,3,0,H,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,173,9394,2,1993-06-11,Leicester,Southend,3,0,H,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,182,9394,2,1993-07-11,Derby,Wolves,0,4,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,184,9394,2,1993-10-11,Wolves,Nott'm Forest,1,1,D,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398,398,9394,2,1994-03-15,Birmingham,Leicester,0,3,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
402,402,9394,2,1994-03-15,Portsmouth,Wolves,3,0,H,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
410,410,9394,2,1994-03-19,Leicester,Barnsley,0,1,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
417,417,9394,2,1994-03-19,Wolves,Grimsby,0,0,D,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
425,425,9394,2,1994-03-26,Charlton,Wolves,0,1,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
427,427,9394,2,1994-03-26,Notts County,Leicester,4,1,H,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
434,434,9394,2,1994-03-29,Bolton,Wolves,1,3,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
439,439,9394,2,1994-03-30,Leicester,Portsmouth,0,3,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
455,455,9394,2,1994-02-04,Watford,Leicester,1,1,D,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
456,456,9394,2,1994-02-04,Wolves,Tranmere,2,1,H,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
461,461,9394,2,1994-04-04,Oxford,Wolves,4,0,H,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
464,464,9394,2,1994-05-04,Leicester,Derby,3,3,D,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
488,488,9394,2,1994-04-16,Leicester,Grimsby,1,1,D,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
491,491,9394,2,1994-04-16,Notts County,Wolves,0,2,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501,501,9394,2,1994-04-21,Millwall,Wolves,1,0,H,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
507,507,9394,2,1994-04-23,Oxford,Leicester,2,2,D,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
512,512,9394,2,1994-04-23,Wolves,Luton,1,0,H,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
516,516,9394,2,1994-04-26,Portsmouth,Leicester,0,1,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
521,521,9394,2,1994-04-30,Barnsley,Wolves,2,0,H,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
524,524,9394,2,1994-04-30,Leicester,Stoke,1,1,D,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
536,536,9394,2,1994-03-05,Leicester,Bolton,1,1,D,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
538,538,9394,2,1994-03-05,Wolves,Sunderland,1,1,D,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7172,86,9495,1,1994-03-10,Leicester,Coventry,2,2,D,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7230,144,9495,1,1994-05-11,West Ham,Leicester,1,0,H,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7264,178,9495,1,1994-03-12,Leicester,Aston Villa,1,1,D,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32967,55,9495,2,1994-03-09,Sunderland,Wolves,1,1,D,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33029,117,9495,2,1994-01-10,Wolves,Port Vale,2,1,H,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33081,169,9495,2,1994-01-11,Bristol City,Wolves,1,5,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33101,189,9495,2,1994-05-11,Wolves,Luton,2,3,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33144,232,9495,2,1994-04-12,Millwall,Wolves,1,0,H,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
def home_win_percentage(df, n_games):
    temp_df = df[(df.HomeTeam == home_team) | (df.AwayTeam == home_team)]
    temp_df = temp_df.sort_values("Date", ascending=False).head(n_games)[["HomeTeam", "AwayTeam", "FTR"]]
    if len(temp_df) < n_games:
        return "NaN"
    wins = ((temp_df.HomeTeam == home_team) & (temp_df.FTR == "H")) |\
           ((temp_df.AwayTeam == home_team) & (temp_df.FTR == "A"))
    win_percent = wins.sum() / n_games
    print(temp_df)
    return win_percent #round(win_percent, 2)

In [53]:
home_win_percentage(temp_df, 15)

            HomeTeam    AwayTeam FTR
33101         Wolves       Luton   A
378    Middlesbrough      Wolves   H
334            Stoke      Wolves   D
521         Barnsley      Wolves   H
512           Wolves       Luton   H
501         Millwall      Wolves   H
491     Notts County      Wolves   A
33144       Millwall      Wolves   H
461           Oxford      Wolves   H
434           Bolton      Wolves   A
425         Charlton      Wolves   A
417           Wolves     Grimsby   D
402       Portsmouth      Wolves   H
32967     Sunderland      Wolves   D
538           Wolves  Sunderland   D

0.26666666666666666

In [54]:
raw_data.tail()

,index,Season,League,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,HF,AF,HO,AO,HY,AY,HR,AR,HBP,ABP
46807,547,1516,3,2016-08-05,Peterboro,Blackpool,5,1,H,0,...,16,7,NaN,NaN,3,1,0,0,NaN,NaN
46808,548,1516,3,2016-08-05,Port Vale,Walsall,0,5,A,0,...,7,5,NaN,NaN,2,1,0,0,NaN,NaN
46809,549,1516,3,2016-08-05,Sheffield United,Scunthorpe,0,2,A,0,...,11,6,NaN,NaN,1,0,0,0,NaN,NaN
46810,550,1516,3,2016-08-05,Swindon,Shrewsbury,3,0,H,1,...,7,16,NaN,NaN,0,3,0,0,NaN,NaN
46811,551,1516,3,2016-08-05,Wigan,Barnsley,1,4,A,1,...,11,6,NaN,NaN,1,1,1,0,NaN,NaN