In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
match_info = ["Season",
              "League",
              "Date",
              "HomeTeam",
              "AwayTeam"]
match_statistics = ["FTHG",
                    "FTAG",
                    "FTR",
                    "HTHG",
                    "HTAG",
                    "HTR",
                    "Attendance",
                    "Referee",
                    "HS",
                    "AS",
                    "HST",
                    "AST",
                    "HHW",
                    "AHW",
                    "HC",
                    "AC",
                    "HF",
                    "AF",
                    "HO",
                    "AO",
                    "HY",
                    "AY",
                    "HR",
                    "AR",
                    "HBP",
                    "ABP"]

In [13]:
def get_measures():
    if os.path.isfile("../data/processed/measures.csv"):
        measures = pd.read_csv("../data/processed/measures.csv")
        measures.Date = pd.to_datetime(measures.Date)
        return measures
    else:
        measures = pd.read_csv("../data/processed/historical_scores.csv", index_col=0)
        measures = measures[match_info]
        measures.Date = pd.to_datetime(measures.Date)
        measures = measures.reset_index()
        measures.to_csv("../data/processed/measures.csv")
        return measures

measures = get_measures()
raw_data = pd.read_csv("../data/processed/historical_scores.csv", index_col=0)
raw_data = raw_data[match_info + match_statistics]
raw_data.Date = pd.to_datetime(raw_data.Date)
raw_data = raw_data.reset_index()

In [7]:
idx = 35000
df = raw_data
date, home_team, away_team = df.loc[idx, ["Date", "HomeTeam", "AwayTeam"]]

row_filter = df.Date < date
row_filter = row_filter & ((df.HomeTeam.isin([home_team, away_team])) |
                           df.AwayTeam.isin([home_team, away_team]))

print(date, home_team, away_team)
df = df[row_filter]

1996-04-20 00:00:00 Torquay Chester

In [14]:
measures.head()

   Unnamed: 0  index  Season  League       Date        HomeTeam    AwayTeam
0           0      0    9394       2 1993-08-14        Barnsley   West Brom
1           1      1    9394       2 1993-08-14        Charlton  Birmingham
2           2      2    9394       2 1993-08-14  Crystal Palace    Tranmere
3           3      3    9394       2 1993-08-14           Derby  Sunderland
4           4      4    9394       2 1993-08-14         Grimsby      Bolton

In [17]:
temp_df = pd.concat([measures, pd.DataFrame(columns=["test1", "test2"])])
temp_df.head()

,AwayTeam,Date,HomeTeam,League,Season,Unnamed: 0,index,test1,test2
0,West Brom,1993-08-14,Barnsley,2,9394,0,0,NaN,NaN
1,Birmingham,1993-08-14,Charlton,2,9394,1,1,NaN,NaN
2,Tranmere,1993-08-14,Crystal Palace,2,9394,2,2,NaN,NaN
3,Sunderland,1993-08-14,Derby,2,9394,3,3,NaN,NaN
4,Bolton,1993-08-14,Grimsby,2,9394,4,4,NaN,NaN